<app-sidepanel></app-sidepanel>


<div class="container col-md-4">
	<div class="card-body">
		<h3>Personal Details</h3>

    	<form role="form" #personalForm="ngForm">
     	    <div class="group">
	          	<label>First Name*</label>
            	<input type="text" class="form-control" autocomplete="off" name='fname' [(ngModel)]="firstName" #fname="ngModel" pattern="^[a-z A-Z]{0,}$" required>
          	</div>

          	<div class="input-group alert alert-danger errorMessage" *ngIf="fname.errors && fname.dirty">
            	<div [hidden]="!fname.hasError('required')">
              		Enter Firsts Name
            	</div>
            	<div [hidden]="!fname.hasError('pattern')">
              		Invalid Name
            	</div>
          	</div>

 			<div class="group">
	          	<label>Last Name*</label>
            	<input type="text" class="form-control" autocomplete="off" name='lname' [(ngModel)]="lastName" #lname="ngModel" pattern="^[a-z A-Z]{0,}$" required>
          	</div>

          	<div class="input-group alert alert-danger errorMessage" *ngIf="lname.errors && lname.dirty">
            	<div [hidden]="!lname.hasError('required')">
              		Enter Last Name
            	</div>
            	<div [hidden]="!lname.hasError('pattern')">
              		Invalid Name
            	</div>
          	</div>
  			

          	<div class="text-center pb-2 mt-2">
        		<button class="btn btn-primary mr-4" [disabled]="personalForm.invalid" (click)="save()">Save</button>
        		<button class="btn btn-primary" (click)="cancle()">Cancle</button>
      		</div>
    	</form>
	</div>
</div>