<app-sidepanel></app-sidepanel>


<div class="container col-md-4">
	<div class="card-body">
		<h3>Professional Details</h3>

    	<form role="form" #profForm="ngForm">
     		<div class="group">
	          	<label>Enter Experience*</label>
            	<input type="text" class="form-control" autocomplete="off" name='exp' [(ngModel)]="experience" #exp="ngModel" pattern="^[0-9]*$" required>
              Years
          	</div>

          	<div class="input-group alert alert-danger errorMessage" *ngIf="exp.errors && exp.dirty">
            	<div [hidden]="!exp.hasError('required')">
              		Enter Experience
            	</div>
            	<div [hidden]="!exp.hasError('pattern')">
              		Invalid Experience
            	</div>
          	</div>
  			

          	<div class="text-center pb-2 mt-2">
        		<button class="btn btn-primary mr-4" [disabled]="profForm.invalid" (click)="save()">Save</button>
        		<button class="btn btn-primary" (click)="cancle()">Cancle</button>
      		</div>
    	</form>
	</div>
</div>