

<div class="container col-md-4">
	<div class="card-body">
		<h3>LOGIN</h3>

    	<form role="form" #loginForm="ngForm">
     	    <div class="group">
	          	<label>User Name*</label>
            	<input type="text" class="form-control" autocomplete="off" name='uname' [(ngModel)]="userName" #uname="ngModel" pattern="^[a-z A-Z]{0,}$" required>
          	</div>

          	<div class="input-group alert alert-danger errorMessage" *ngIf="uname.errors && uname.dirty">
            	<div [hidden]="!uname.hasError('required')">
              		Enter User Name
            	</div>
            	<div [hidden]="!uname.hasError('pattern')">
              		Invalid Name
            	</div>
          	</div>

  			<div class="group">
  				<label>User Password*</label>
            	<input type="password" class="form-control" autocomplete="off" name='password' [(ngModel)]="userPassword" #password="ngModel" required>
          	</div>
          	<div class="input-group alert alert-danger errorMessage" *ngIf="password.errors && password.dirty">
            	<div [hidden]="!password.hasError('required')">
              		Enter Password
            	</div>
            	<div [hidden]="!password.hasError('pattern')">
              		Invalid Password
            	</div>
          	</div>

          	<div class="text-center pb-2 mt-2">
        		<button class="btn btn-primary" [disabled]="loginForm.invalid" (click)="confirmModal.show()">Login</button>
      		</div>
    	</form>
	</div>
</div>

<div>
  <div bsModal #confirmModal="bs-modal" class="modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        Do you want to store data in localstorage?
      </div>
      <div class="modal-footer justify-content-center">
        <button class="btn btn-primary mr-2" (click)="saveData();login()">Yes</button>
        <button class="btn btn-danger" (click)="login()">No</button>
      </div>
    </div>
  </div>
</div>

</div>