
<div class="sidenav">
	<h3>Hello {{fullName}}</h3>
<hr>
	<a (click)="goToPersonal()">Personal Info</a>
	<a (click)="goToProf()">Proffesional Info</a>
</div>

<button class="btn btn-primary logout" (click)="logout()">Logout</button>