.sidenav {
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}
.sidenav h3{
  color: #064579;
  font-size: 22px;
}
.logout{
    margin-left: 87%;
    margin-top: 8px;
}
