/* You can add global styles to this file, and also import other style files */
.container{
	display: flex;
    justify-content: center;
}

.errorMessage{
	margin-top: 10px;
    padding: 0.1rem 0.25rem;
}

.btn-primary:disabled {
	cursor: not-allowed;
}